body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #E2E1DE;
  overflow: hidden;
}

.bg-wpp{
  background-color: #E2E1DE;

  display: flex;
  justify-content: center;
  align-items: center;
}


.bg-verde{
  position: fixed;
  margin: 0 !important;
  background-color: #00A884;
  width: 100vw;
  height: 15vh;

  z-index: 1;
}

.container{
  width: 70vw;
  height: 90vh;
  margin-top: 5vh;

  z-index: 100;
  background-color: #F8F8F8;
}

.topbar{
  background-color: #F0F2F5;
  height: 8vh;
}